/** global element styling **/

@import "https://fonts.googleapis.com/css?family=Tenor+Sans|Montserrat";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: whitesmoke;
  color: #640e23;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

li {
  list-style: none;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
}

/** global class styling **/

.container {
  height: 100px;
  margin-bottom: 1rem;
}

.btn {
  background-color: #986D6F;
  color: whitesmoke;
  border: none;
  border-radius: 0.25rem;
  width: 10rem;
  height: 2.5rem;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: #640e23;
}

header {
  position: fixed;
  padding: 0 2rem;
  min-height: 2rem;
  background: #FDE9E2;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#header-img {
  height: 100px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 190px;
}

#nav-bar ul {
  display: flex;
  flex-direction: row;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 2px;
  width: 100%;
}

.nav-link {
  padding-right: 1rem;
}

@media (max-width: 580px) {
  header {
    flex-wrap: wrap;
  }
  .logo {
    margin-top: 15px;
    width: 100%;
  }
  #nav-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
    justify-content: space-around;
  }
  #header-img {
    max-width: 228px;
    height: 80px;
    margin: auto;
  }
}

@media (max-width:580px) {
  #header-img {
    margin: 0 auto;
  }
  .container {
    height: 160px;
  }
}

#banner {
  font-family: 'Tenor Sans', sans-serif;
  color: #5A1721;
  text-align: center;
  font-size: 2.5rem;
}

@media (max-width:580px) {
  #banner {
    font-size: 1.5rem;
  }
}

#plan {
  margin: 1rem 2rem;
  padding: 0 2rem;
  font-size: 2rem;
  line-height: 3rem;
}

@media (max-width:580px) {
  #plan {
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

section li {
  font-size: 1.25rem;
}

#pricing {
  display: flex;
  justify-content: space-around;
}

.plan {
  text-transform: uppercase;
  font-size: 1.25rem;
  text-align: center;
  border-radius: 0.25rem;
  border: 1px solid #986D6F;
  max-width: 300px;
  width: calc(100%/3);
  margin: 10px;
  line-height: 5rem;
}

@media(max-width:702px) {
  #pricing {
    flex-direction: column;
  }
  .plan {
    max-width: 210px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
}

.level {
  background: #640e23;
  color: whitesmoke;
}

#video {
  display: block;
  margin: 2rem auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

[type="email"] {
  font-size: 1rem;
  max-width: 275px;
  width: 100%;
  padding: 5px;
  margin: 1rem;
  border-radius: 0.25rem;
  border: none;
}

footer {
  margin-top: 30px;
  background-color: #fde8e2;
  padding: 20px;
}

footer>ul {
  display: flex;
  justify-content: flex-end;
}

footer>ul>li {
  padding: 0 10px;
}

footer>span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}
